@font-face {
    font-family: "Open Sans";
    src: url(/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Great Vibes";
    src: url(/fonts/Great_Vibes/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: "Myriad Pro";
    src: url(/fonts/Myriad_Pro/MYRIADPRO-REGULAR.OTF);
}

@font-face {
    font-family: "Myriad Pro - Semibold";
    src: url(/fonts/Myriad_Pro/MYRIADPRO-SEMIBOLD.OTF);
}

@font-face {
    font-family: "Droid Sans";
    src: url(/fonts/Droid_Sans/DroidSans.ttf);
}

@font-face {
    font-family: "Oswald - Regular";
    src: url(/fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: "Oswald Medium";
    src: url(/fonts/Oswald/Oswald-Medium.ttf);
}

@font-face {
    font-family: "Oswald - Heavy";
    src: url(/fonts/Oswald/Oswald-Heavy.ttf);
}



body {
    background-color: #fff;
    font-family: "Droid Sans";
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.wrapper {
    max-width: 1170px;
    margin: 0 19vw;
}

.header_top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

}

.header_top::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #df001f;
    z-index: 2;

}

.container {
    padding: 11px 2.6vw;
}

.header_body {
    position: relative;
    /* z-index: 2; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.menu_header {
    max-width: 27.34vw;
    display: flex;
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: #df001f;

}

.header_list {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 2;
}

.item_header {
    padding: 0 1.2vw;
    align-items: center;
    list-style: none;
    transform: 0.5s;
}

.link_header {
    color: #fff;
    font-family: "Droid Sans";
    font-size: 13px;
    font-weight: 700;
    line-height: calc(14px - 5.21vw);
    text-transform: uppercase;
    letter-spacing: 0.65px;

}

.item_header:hover {
    transform: scale(1.05);
    cursor: pointer;
}

li.active {
    border-bottom: 1px solid #fff;
    line-height: 0;

}

.logo {
    z-index: 3;
}

.logo img {
    cursor: pointer;
    width: 6.3vw;
    height: 3.69vw;
}

.social_buyTicket {
    display: flex;
    align-items: center;
    z-index: 3;
}

.menu_burger_header {
    display: none;
}

.header_top .social {
    display: flex;
}

.header_top .social_item {
    position: relative;
}

.header_top .social_item span {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 2.4vw;
    cursor: pointer;
}

.header_top .social_item img+span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%)
}

.social_item:last-child {
    margin-right: 0;
}

.header_top .social_item i,
.header_top .social_item img {
    margin-right: 0.52vw;
    font-size: calc(14px + 0.4vw);
    color: #ffffff;

}


.btn {
    padding: 21px 46px;
    padding: calc(10px + 0.57vw) calc(15px + 1.61vw);
    font-family: "Droid Sans";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    border: none;
    border-radius: 35px;
    transition: 0.5s;

}

.btn:hover {
    cursor: pointer;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    transition: 0.5s;
}

.buy_ticket {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #df001f;
    margin-left: 2.82vw;
}

.header_banner {
    padding-top: 100px;
    position: relative;
    text-align: center;
    animation: animate 10s linear infinite alternate;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.header_banner::after {
    content: '';
    display: block;
    border-bottom: 3px solid #df001f;
    width: 78.13vw;
}

@keyframes animate {
    0% {
        background-image: url(/img/bg_header_1.png);
    }

    50% {
        background-image: url(/img/bg_header_2.png);
    }

    100% {
        background-image: url(/img/bg_header_3.png);
    }

}

.title_slogan {
    color: #df001f;
    font-family: "Oswald - Heavy";
    font-size: calc(14px + 5.31vw);
    font-weight: 400;
    line-height: calc(14px + 3.73vw);
    text-transform: uppercase;
    padding: 10.83vw 0 0.26vw;
}

.text_slogan {
    color: #333333;
    font-family: "Great Vibes";
    font-size: calc(14px + 3.44vw);
    font-weight: 400;
    line-height: calc(14px + 7.6vw);
    padding: 0 0 4.68vw;

}

.discover_more {
    margin: 0 0 9.06vw;
    background-color: #df001f;
    color: #fff;
}


/* responsive */

@media screen and (max-width :1200px) {
    .header_top .social {
        display: none;
    }

    .header_body {
        height: 60px;
    }

    .header_banner {
        padding-top: 80px;
    }


    .buy_ticket {
        margin-left: 0;
    }
}

@media screen and (max-width :992px) {
    .social_buyTicket {
        display: none;
    }

    .header_body {
        height: 40px;
    }

    .header_banner {
        padding-top: 60px;
    }

    .logo img {
        width: 60px;
        height: 35px;
    }
}

@media screen and (max-width :767px) {
    .header_body {
        height: 20px;
    }

    .logo img {
        width: 48px;
        height: 27px;
    }

    .menu_header {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: block;
        background-color: #df001f;
        padding: 45px 0 0 0;
        max-width: none;
        position: fixed;
        width: 100%;
        height: auto;
        transition: all .3s ease 0s;

        top: -100%;
        /* flex-direction: column; */

    }

    .item_header {
        display: block;
        /* margin: 20px; */
    }

    .item_header:hover {
        transform: scale(1.03);
        cursor: pointer;
    }


    .menu_burger_header {
        display: block;
        position: relative;
        cursor: pointer;
        width: 30px;
        z-index: 3;
        border: none;
        background: none;
        top: calc(50% - 3px);
        height: 20px;

    }

    .header_list {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .item_header {
        margin: 0 auto 10px;
        width: 25%;
    }

    .menu_burger_header:focus {
        outline: none;
    }


    .menu_burger_header.active span {
        background: none;

    }

    .menu_burger_header span {
        display: block;
        position: absolute;
        width: 100%;
        right: 0;
        top: 0;
        height: 2px;
        background-color: white;
        transition: all .3s ease 0s;

    }

    .menu_burger_header::before,
    .menu_burger_header::after {
        content: "";
        background-color: white;
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        top: -9px;
        transition: all .3s ease 0s;

    }

    .menu_burger_header::before {
        top: 9px
    }

    .menu_burger_header.active::before,
    .menu_burger_header.active::after {
        transform: rotate(45deg);
        top: 0px;
    }

    .menu_burger_header.active::after {
        transform: rotate(-45deg);
        top: 0px;
    }

    .menu_header.active {
        top: 0;
    }

    .header_banner {
        padding-top: 40px;
    }

    .text_slogan {
        padding: 0;
    }

}



/* header */

.members_section {
    padding: 5.21vw 0;
}

.title_section h1 {
    font-family: "Oswald - Regular";
    font-size: calc(14px + 0.93vw);
    line-height: calc(14px + 0.83vw);
    font-weight: 400;
    letter-spacing: 3.2px;
    margin: 0 0 0.21vw;
    text-transform: uppercase;
    padding: 0;
}

.title_section p {
    color: #df001f;
    font-family: "Great Vibes";
    font-size: calc(14px + 0.93vw);
    font-weight: 400;
    line-height: calc(14px + 0.83vw);
    letter-spacing: 3.2px;
    margin: 0;
    text-transform: capitalize;
    padding: 0;

}



.navigation_arrows {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
}

.arrow {
    width: 35px;
    height: 35px;
    background-color: #df001f;
    border: none;
    color: #fff;
    font-size: calc(14px + 0.52vw);
    font-weight: 400;
    line-height: 35px;
    cursor: pointer;

}

.arrow:disabled {
    cursor: unset;
}

.prev_member {
    margin-right: 0.26vw;
}

.prev_member:disabled,
.next_member:disabled {
    opacity: 0.5;

}

.members {
    overflow: hidden;
}

.members_mobile {
    display: none;
}

.members_track {
    /* position: relative; */
    display: flex;
    transition: .2s;
}

.member {
    position: relative;
    height: 466px;
    width: 100%;
    right: 0;
    left: 0;
    padding-left: inherit;
    padding-right: inherit;
    cursor: pointer;
    transition: 0.5s;
}

.member:hover {
    transform: scale(1.03);
    transition: 0.5s;
}

.member>img {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
}


.social_data_member {
    display: none;
    padding-left: 1.4vw;
}

.data_member {
    position: absolute;
    bottom: 0;
    z-index: 2;
    height: 17%;
    background-color: #df001f;
    width: 100%;
    color: #fff;
    padding-top: 0.89vw;
    padding-left: inherit;

}

.name_member {
    font-size: calc(14px + 0.42vw);
    font-weight: 400;
    line-height: calc(14px + 0.31vw);
    margin-bottom: 0.47vw;
    font-family: "Oswald - Regular";
    text-transform: capitalize;
    text-indent: 1.4vw;
}

.position_member {
    font-family: "Droid Sans";
    font-size: calc(14px + 0.1vw);
    margin-bottom: 1.3vw;
    text-indent: 1.4vw;
}

.member.active .data_member {
    height: 26%;
}

.member.active .data_member .social_data_member {
    display: flex;
    max-width: 10.26vw;
    justify-content: space-between;
}

.data_member .social_item {
    display: flex;
    margin-right: 1vw;
    cursor: pointer;
}

.data_member .social_item span {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.data_member .social_item i,
.data_member .social_item img {
    font-size: calc(14px + 0.4vw);
    margin-right: 0.52vw;
}

/* responsive */

@media screen and (max-width :1200px) {

    .member {
        height: 350px;
    }
}

@media screen and (max-width :992px) {}

@media screen and (max-width :767px) {

    .members,
    .navigation_arrows {
        display: none;
    }

    .members_mobile {
        display: block;
        text-align: center;
        position: relative;
        padding-top: 40px;
    }

    .members_mobile .slick-arrow {
        width: 25px;
        height: 25px;
        line-height: 25px;
        background-color: #df001f;
        border: none;
        color: #fff;
        font-size: 0;
        font-weight: 400;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        outline: none;
        cursor: pointer;
    }

    .members_mobile .slick-arrow.slick-prev {
        right: 40px;
    }


    .members_mobile .slick-arrow.slick-next::before {
        display: block;
        content: "\f054";
        font-family: "Font Awesome 5 Pro";
        color: white;
        font-size: 14px;
        right: 0px;
    }

    .members_mobile .slick-arrow.slick-prev::before {
        display: block;
        content: "\f053";
        font-family: "Font Awesome 5 Pro";
        color: white;
        font-size: 14px;
        right: 65px;

    }

    .member_mobile {
        margin: 0 auto;
        position: relative;
        text-align: center;
        outline: none;
    }

    .member_mobile img {
        position: relative;
        max-width: 300px;
    }

    .member_mobile .data_member {
        left: 15%;
        height: 11%;
        width: 35%;
    }

    .member_mobile.active .data_member .social_data_member {
        display: flex;
        max-width: 10.26vw;
        justify-content: space-between;
    }

    .member_mobile.active .data_member {
        height: 17%;
    }

    .member_mobile.active .data_member .social_data_member {
        max-width: 70%;
        margin: 0 auto;
        padding: 0;
        justify-content: space-around;
    }

    .member_mobile .position_member {
        margin-bottom: 0.5vw;
        text-indent: 0;
    }

    .data_member .social_item i,
    .data_member .social_item img,
    .data_member .social_item span {
        font-size: 13px;


    }

    @media screen and (max-width :570px) {
        .member_mobile .data_member {
            left: 10%;
            height: 11%;
            width: 45%;
        }
    }


}

/* member section */


.consert_videos {
    padding-top: 5.05vw;
    padding-bottom: 5.21vw;
    display: flex;
    justify-content: space-between;
}

.consert_box {
    min-width: 40.1vw;
    margin-right: 1.56vw;
}

.videos_box {
    min-width: 19.37vw;
}

.conserts {
    position: relative;
    margin-top: 2.14vw;
    outline: none;
    z-index: 1;
}

.consert {
    display: flex;
    outline: none;
    justify-content: space-between;

}

.consert_image_box {
    position: relative;
    margin-right: 4.11vw;
}

.consert_image_box img {
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: 313px;
}

.consert_image_box p {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-family: "Oswald - Heavy";
    font-size: calc(14px + 1.64vw);
    font-weight: 400;

}

.consert_image_box p span {
    display: block;
    font-size: calc(14px + 0.93vw);
    line-height: calc(14px + 0.83vw);
    letter-spacing: 3.2px;
}

.data_consert {
    min-width: 14.46vw;
    border: 1px;
    margin-top: 1.19vw;
    margin-bottom: 1.16vw;
}

.consert_data_box caption {
    color: #333333;
    font-size: calc(14px + 0.42vw);
    font-weight: 500;
    line-height: calc(14p + 0.83vw);
    margin-bottom: 1.71vw;
}

.data_consert tr {
    color: #333333;
    font-family: "Droid Sans";
    font-size: calc(14px + 0.1vw);
    font-weight: 400;
    line-height: calc(14px + 0.47vw);
}

.purchase_ticket {
    background-color: #df001f;
    color: #fff;
}

.conserts .slick-arrow {
    display: none;
}

.conserts .slick-dots {
    background-color: #e9e9e9;
    width: 100%;
    height: 4px;
    display: flex;
}

.conserts .slick-dots li {
    list-style: none;
    width: 25%;
}


.conserts .slick-dots li.slick-active {
    background-color: #df001f;

}

.conserts .slick-dots li button {
    display: none;
}

.videoFile {
    max-width: 372px;
    height: 290px;
    height: 330px;
    position: relative;
    z-index: 2;
    width: 100%;
    /* max-height: 100%; */
    object-fit: contain;

    /* background: transparent url("/img/video_poster.png") no-repeat 0 0; */
    /* -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover;   */
}

/* .videoFile[poster]{
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 

} */
.videos {
    position: relative;
    z-index: 1;
    outline: none;
}

.video {
    outline: none;
    position: relative;
    padding-top: 2.08vw;
    text-align: center;

}

.video_button {
    position: absolute;
    top: calc(50% + 30px);
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    background-color: #df001f;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
    border: none;
}

.playPause {
    background: none;
    border: none;
    width: 100%;
    outline: none;
}

.playPause::before {
    display: block;
    content: "\f04b";
    font-family: "Font Awesome 5 Pro";
    color: white;
    font-size: calc(14px + 0.57vw);
    line-height: 60px;

}


.video_button .pause {
    transition: 2s;
    opacity: 0;
}

.video_button button.play::before {
    content: '\f04b';
    font-family: "Font Awesome 5 Pro";
    font-size: calc(14px + 0.57vw);
}

.video_button button.pause::before {
    content: '\f04c';
    font-family: "Font Awesome 5 Pro";
    font-size: calc(14px + 0.57vw);
}

.videos .slick-arrow {
    width: 35px;
    height: 35px;
    background-color: #df001f;
    border: none;
    color: #fff;
    font-size: 0;
    font-weight: 400;
    line-height: 35px;
    position: absolute;
    top: 0;
    z-index: 5;
    outline: none;
    cursor: pointer;

}

.videos .slick-arrow.slick-prev {
    right: 50px;
}

.videos .slick-arrow.slick-next {
    right: 0;
}

.videos .slick-arrow.slick-prev::before {
    display: block;
    content: "\f053";
    font-family: "Font Awesome 5 Pro";
    color: white;
    font-size: 19px;
}

.videos .slick-arrow.slick-next::before {
    display: block;
    content: "\f054";
    font-family: "Font Awesome 5 Pro";
    color: white;
    font-size: 19px;

}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}


.videos .slick-arrow.slick-disabled {
    opacity: 0.5;
    cursor: unset;
}

/* responsive */

@media screen and (max-width :1200px) {
    .consert_videos {
        flex-direction: column;
    }

    .consert {
        justify-content: space-around;
    }

    .consert_image_box img {
        height: 300px;
    }

    .videoFile {
        max-width: none;
        /* width: 100%; */
        object-fit: cover;
    }

    .videos_box {
        padding-top: 5vw;
    }

    .video_button {
        position: absolute;
        top: calc(50% + 20px);
    }

    .consert_image_box {
        margin-right: 1.53vw;
    }

    .videos .slick-arrow {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    .videos .slick-arrow.slick-next {
        top: -25px;
    }

    .videos .slick-arrow.slick-prev {
        right: 35px;
        top: -25px;
    }

    .videos .slick-arrow.slick-prev::before,
    .videos .slick-arrow.slick-next::before {
        font-size: 14px;
    }
}

@media screen and (max-width :992px) {
    .consert_image_box img {
        height: 260px;
    }

    .videoFile {
        height: 290px;
        /* width: 100%; */
    }
}

@media screen and (max-width :767px) {
    .consert_videos {
        padding-top: 0;
    }

    .conserts .slick-dots {
        margin-top: 2vw;
    }

    .consert_box {
        margin-right: 0;
        padding-bottom: 5vw;
    }

    .video_button {
        position: absolute;
        top: 50%;
    }

    .videoFile {
        width: auto;
    }


}

@media screen and (max-width :570px) {
    .consert {
        flex-direction: column;
        text-align: center;
    }

    .data_consert {
        margin: 1.19vw auto 1.16vw;
    }

    .consert_image_box {
        margin-right: 0;
    }

    .consert_image_box img {
        height: 230px;
    }

    .videoFile {
        max-width: 100%;
        height: auto;
    }

}

/* consert & video */

.founder_section {
    padding-left: 5.26vw;
    background: url(/img/bg_founder.png) right top #333333 no-repeat;
    background-size: contain;
}

.founder_slogan {
    padding-top: 4.48vw;
    color: #ffffff;
    font-family: "Oswald Medium";
    font-size: calc(14px + 0.93vw);
    font-weight: 500;
    line-height: calc(14px + 1.87vw);
    text-transform: uppercase;
    max-width: 25.47vw;
}

.founder_history {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: calc(14px + 0.42vw);
    font-weight: 400;
    padding-bottom: 2.45vw;
    max-width: 28.96vw;
}

.founder_history span {
    font-family: "Great Vibes";
    font-size: calc(14px + 2.66vw);
    font-weight: 400;
    line-height: calc(14px + 0.83vw);
}

.learn_more {
    margin-bottom: 2.42vw;
    color: #df001f;
    font-family: "Droid Sans";
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}


/* responsive */

@media screen and (max-width :1200px) {}

@media screen and (max-width :992px) {}

@media screen and (max-width :767px) {
    .founder_section {
        margin-top: 5vw;
    }
}

@media screen and (max-width :570px) {

    .founder_history,
    .founder_slogan {
        max-width: 50vw;
    }

}

/* founders */



.audio_instagram {
    padding-top: 5.42vw;
    display: flex;
    padding-bottom: 4.43vw;
}

.instagram_box {
    min-width: 19.27vw;
}

.instagram_photos {
    display: flex;
    flex-wrap: wrap;
}

.instagram_photos img {
    margin: 2%;
    width: 45%;
}

.audio_box {
    min-width: 40.1vw;
    margin-right: 1.56vw;
}

.audio_main {
    display: flex;
    padding-top: 1.71vw;


}

.image_album {
    margin-right: 0.78vw;
}

.audio_navigation img {
    width: 100%;
    height: 100%;
}

.list_songs {
    display: none;
}

.audio_list ol {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    list-style: decimal-leading-zero;
    list-style-position: inside;
    padding-left: 0;
    /* margin: 3.59vw 0 0 0; */
    margin: 1.5vw 0 0 0;

}

.audio_list ol li {
    border-bottom: 1px solid #999999;
    color: #333333;
    font-family: "Droid Sans";
    font-size: calc(14px + 0.1vw);
    font-weight: 400;
    line-height: calc(14px + 0.5vw);
    max-width: 8.7vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio_list ol li:hover {
    color: #6e64649c;
    cursor: pointer;

}


/* responsive */

@media screen and (max-width :1200px) {
    .audio_instagram {
        flex-direction: column;
    }

    .audio_box {
        min-width: 0;
        margin-right: 0;
        padding-bottom: 5vw;
    }

    .audio_list ol li {
        max-width: none;
    }
}

@media screen and (max-width :992px) {}

@media screen and (max-width :767px) {
    .instagram_photos img {
        margin: 4%;
        width: 41%;
    }
}

@media screen and (max-width :570px) {
    .image_album {
        display: none;
    }

    .list_songs {
        display: block;
        background-color: #e9e9e9;
        font-size: 13px;
        font-family: "Droid Sans";
        width: 100%;
        color: #333333;
        margin: 2vw auto 1vw;
        padding-bottom: 1vw;
        padding-top: 1vw;
        padding-left: 2vw;
        box-sizing: border-box;
        position: relative;
        z-index: 1;
    }

    .list_songs::after,
    .list_songs::before {
        content: '';
        background-color: #333333;
        width: 7px;
        height: 1px;
        position: absolute;
        top: 10px;
        z-index: 5;
    }

    .list_songs::after {
        transform: rotate(-40deg);
        right: 17px;
    }

    .list_songs::before {
        transform: rotate(40deg);
        right: 22px;
    }

    .list_songs.active::before {
        transform: rotate(-40deg);
    }

    .list_songs.active::after {
        transform: rotate(40deg);
    }

    .audio_list ol {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        /* max-width: 100%; */
        display: none;
        text-align: start;
        margin: 0 auto;
    }

    .audio_list ol li {
        border-bottom: none;
    }

    .audio_list ol li:hover {
        border-bottom: 1px solid #999999;
    }

}

/* audio & instagram */


.app_section {
    background: url(/img/bg_app.png) 100% no-repeat #000000;
    padding: 4.16vw 0 6.25vw;
    text-align: center;
    background-size: cover;
}

.app_call {
    color: #ffffff;
    font-family: "Oswald - Regular";
    font-size: calc(14px + 0.94vw);
    font-weight: 500;
    line-height: calc(14px + 1.77vw);
}

.app_slogan {
    color: #ffffff;
    font-family: "Droid Sans";
    font-size: calc(14px + 0.42vw);
    font-weight: 400;
    line-height: calc(14px + 0.83vw);
    letter-spacing: 1.1px;
    margin: 0.42vw 0 2.14vw;

}

.app_buttons {
    display: flex;
    justify-content: space-around;
    max-width: 17.7vw;
    max-width: 340px;
    margin: 0 auto;
}

.area {
    padding: 0.52vw 1.35vw;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 7px;
    display: flex;
    text-align: start;
    cursor: pointer;

}

.area>img {
    margin-right: 0.36vw;
}

.area_call {
    font-family: "Myriad Pro";
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
}

.area_call span {
    display: block;
    font-family: "Myriad Pro - Semibold";
    font-size: calc(14px + 0.2vw);
    font-weight: 600;
}


/* responsive */

@media screen and (max-width :1200px) {}

@media screen and (max-width :992px) {}

@media screen and (max-width :767px) {
    .app_call {
        margin: 0 auto 2vw;
    }

    .app_slogan {
        display: none;
    }

    .app_buttons {
        max-width: 250px;
        justify-content: space-between;
    }
}

/* app section */


.subscripe_section {
    padding-top: 5.46vw;
    padding-bottom: 3.65vw;

}

.subscripe_form {
    position: relative;
    margin: 0 auto;
    max-width: 27.6vw;
    max-width: 530px;
    max-width: 50%;
    border-bottom: 4px solid #999999;
}

.email_subscripe {
    color: #282828;
    font-family: "Droid Sans";
    font-size: calc(14px + 0.1vw);
    font-weight: 400;
    width: 100%;
    line-height: calc(14px + 0.56vw);
    border: none;
    letter-spacing: 3.2px;
    z-index: 1;
    padding-bottom: 0.98vw;
    cursor: pointer;
    outline: none;
}

.button_subscripe {
    position: absolute;
    color: #df001f;
    font-size: calc(14px + 0.1vw);
    border: none;
    background-color: white;
    right: 0;
    bottom: 25%;
    z-index: 5;
    cursor: pointer;
}


/* responsive */

@media screen and (max-width :1200px) {}

@media screen and (max-width :992px) {}

@media screen and (max-width :767px) {
    .subscripe_form {
        border-bottom: 2px solid #999999;
    }

    .email_subscripe {
        letter-spacing: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .button_subscripe {
        font-size: 13px;
        bottom: 0%;
        padding: 0;
    }
}

/* subscripe section */


footer {
    padding-top: 3.59vw;
    padding-bottom: 4.68vw;

}

.footer_top {
    margin: 0 auto;
    max-width: 26.04vw;
    max-width: 50%;
    margin-bottom: 1.82vw;

}

.menu_footer {
    display: flex;
    justify-content: space-between;
}

.item_footer {
    color: #333333;
    font-family: "Droid Sans";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.item_footer:hover {
    font-weight: 700;
    cursor: pointer;
    color: #df001f;
}

.footer_bottom {
    margin: 0 auto;
    max-width: 31.25vw;
    max-width: 50%;
    text-align: center;

}

.copyright {
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    font-family: "Droid Sans - Regular";
    letter-spacing: 1px;
}

.copyright span {
    color: #df001f;
    font-family: "Great Vibes";
    font-size: calc(14px + 0.73vw);
    font-weight: 400;
}

/* responsive */

@media screen and (max-width :1200px) {
    .footer_top {
        max-width: 45%;
    }
}

@media screen and (max-width :992px) {}

@media screen and (max-width :767px) {
    .footer_top {
        display: none;
    }

    .footer_bottom {
        max-width: none;
        margin: 0 0.78vw;
    }
}

/* footer */

/* responsive total */

@media screen and (max-width :1200px) {
    .wrapper {
        max-width: 970px;
    }

    .arrow {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width :992px) {
    .wrapper {
        max-width: 750px;
    }
}

@media screen and (max-width :767px) {
    .wrapper {
        max-width: none;
        margin: 0 0.78vw;
    }

    .wrapper hr:first-of-type {
        display: none;
    }

    .btn {
        padding: 8px 15px;
    }

    .arrow {
        width: 25px;
        height: 25px;
    }
}